.widgets {
    width: 93%;
    height: 76%;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.10);
    margin-top: 33px;
    margin-left: 34px;
    padding: 2%;
}

.widgets-header {
    color: #000;
    font-family: 'Inter';
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 2px;
}